.settings {
  position: absolute;
  border: 2px solid black;
  width: 270px;
  right: 16px;
  top: 80px;
  background-color: #1e1e21;
  border: 2px solid #43444c;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  z-index: 100;
}

.settings__block {
  margin-bottom: 25px;

  &_hidden {
    display: none;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.settings__title {
  font-size: 16px;
  font-weight: 500;
  font-family: "Manrope", serif;
  color: aliceblue;
  margin-bottom: 12px;
}

.settings__buttons-outline {
  display: flex;
}

.settings__button-outline {
  width: 32px;
  height: 32px;
  background-color: #2e2f34;
  border-radius: 8px;
  margin-right: 6px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  &_active {
    background-color: #673be6;
  }

  &_bold {
    background-image: url("../../../public/boldText.svg");
  }

  &_italic {
    background-image: url("../../../public/italicText.svg");
  }

  &_underline {
    background-image: url("../../../public/underlineText.svg");
  }
}

.settings__colors {
  display: flex;
  justify-content: space-between;
}

.settings__choose-many-colors {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  outline: none;
  border: none;
}

.settings__action {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #2e2f34;
}
