.action-bar__button-open {
  position: absolute;
  top: 24px;
  right: 16px;
  width: 30px;
  height: 30px;
  background-color: #1e1e21;
  border: 1px solid #43444c;
  cursor: pointer;
  border-radius: 6px;
  padding: 0;
  z-index: 1;
}

.action-bar__button-open-img {
  background-image: url("../../../public/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;

  &_opacity {
    opacity: 0.4;
  }
}

.action-bar {
  position: absolute;
  top: 16px;
  right: 62px;
  display: flex;
  z-index: 1;
}

.action-bar__item {
  height: 48px;
  background-color: #1e1e21;
  border: 1px solid #43444c;
  border-radius: 12px;
  padding: 12px 16px 12px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &_margin {
    margin-right: 16px;
  }
}

.action-bar__clear-img {
  width: 24px;
  height: 24px;
  margin-right: 8px;

  &_trash {
    background-image: url("../../../public/trashIcon.svg");
  }
}

.action-bar__logout-img {
  width: 24px;
  height: 24px;
  margin-right: 8px;

  &_exit {
    background-image: url("../../../public/exit.svg");
  }
}

.action-bar__item-title {
  font-family: Manrope, serif;
  color: #f0f8ff;
  font-size: 16px;
  font-weight: 500;
}
